<div class="col-xs-6">
    <% for @b in @beets %>
    <div class="panel panel-default">
        <div class="panel-body">
            <p><%= @b.content %></p>
        </div>
    </div>
    <% end %>
</div>
