<% if !user_signed_in? %>
    <style>
    body{
        background: linear-gradient(
            rgba(50,0,50,0.7),
            rgba(50,0,50,0.7)
            ), url("/bg.jpg") no-repeat center center fixed;
        background-size: cover;
    }
    h1{
        color: #fff;
        font-weight: bold;
    }
    .container-index{
        margin-right: 15%;
        margin-left: 15%;
    }
    .text{
        color: #fff;
        font-weight: 300;
        font-size: 150%;
    }
    .footer-links{
        text-align: center;
        color: #fff;
        margin-top: 30%;
        font-size: 75%;
    }

    .log-in{
        float: right;
        width: 300px;
        height: 150px;
        margin-top: 7.5%;
    }
    .sign-up{
        float: right;
        width: 300px;
        height: 150px;
    }

    </style>
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Welcome to Beet</h1>
            <p class="text">
                Connect with your buddies. Chat with new friends. Share your adventures. Have fun! <br>
                Just like a blog, but with less characters!
            </p>
        </div>
        <div class="col-sm-6">
            <div class="log-in panel">
                <center>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color : #9331B2;">
                            <h3 style="font-size: 22px; margin-top: 5px; color: white;">Sign-in</h3>
                        </div>
                        <div class="panel-body">
                            <span style="font-size: 20px; color: #9331B2;" class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            <p>in Navigation - Menu</p>
                        </div>
                    </div>
                </center>
            </div>
            <div class="sign-up panel">
                <center>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color : #9331B2;">
                            <h3 style="font-size: 22px; margin-top: 5px; color: white;">Sign-up</h3>
                        </div>
                        <div class="panel-body">
                            <span style="font-size: 20px; color: #9331B2;" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            <p>in Navigation - Menu</p>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="footer-links">
                About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  Info  Brand  Advertise  Businesses  Media  Develepores  Directory ©2017 Beet
            </p>
        </div>
    </div>

<% else %>
    <script>
        document.location = "/home"
    </script>
<% end %>
