/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color: #E6ECF0;
}
.navbar{
    background-color: #fff;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    padding: 11px;
}

.form-control{
    border-radius: 25px;
    font-size: 13px;
}

.btn{
    background-color: #9331B2;
    border: none;
    border-radius: 25px;
}

.btn:hover{
    background-color: #B857D0;
    border: none;
}
.navbar-nav > li > a{
    padding-bottom: 0px;
    padding-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover{
    border-bottom: 3px solid #9331B2;
    color: #9331B2;
    height: 50px;
}

.navbar-form .form-control{
    padding: 0 40px 0 10px;
    background-color: #f5f8fa;
}

.beet-panel{
    margin-top: -22px;
}
.beet-tittle{
    text-align: left;
    margin-left: 15px;
}
.beet-content{
    text-align: left;
    margin-left: 15px;
}

.beet-links{
    text-align: left;
}

.beet-owner{
    color: #000;
    font-weight: bold;
}

.beet-creation{
    opacity: 0.7;
}

.g-links{
    opacity: 0.4;
    font-size: 120%;
    margin-right: 75px;
}

.beet-form-panel{
    background-color: #FDE8FC;
}

.panel-image img.panel-image-preview{
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.panel-heading ~ .panel-image img.panel-image-preview{
    border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-imgage.hide-panel-body ~.panel-body{
    overflow: hidden;
}

.panel-image ~.panel-footer a{
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body{
    height: 0px;
    padding: 0px;
}

.panel-footer{
    background-color: #fff;
}

.home-profile{
    margin-bottom: 15px;
    border: 3px solid #fff;
}

.profile-banner{
    width: 100%;
    margin-top: -22px;
    height: 500px;
}
